<h1>LifeSkills R Us</h1>
<h2>Create an Account:</h2>
<form action="/signup" method="post">
  Name: <input type="text" name="teacher[name]">
  <br></br>
  User name: <input type="text" name="teacher[username]">
    <br></br>
  Email: <input type="text" name="teacher[email]">
    <br></br>
  Password: <input type="password" name="teacher[password]">
  <br></br>
  <input type="submit" name="submit" value="Sign Up!">
</form>
