<h2>Edit Course</h2>
<form action="/courses/<%=@course.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">
  Title: <input type="text" name="course[title]" value="<%=@course.title%>">
  Time: <input type="text" name="course[time]" value="<%=@course.time%>">
  Duration: <input type="text" name="course[duration]" value="<%=@course.duration%>"> hr
  <br></br>
  <input type="submit" name="submit" value="Update Course">
</form>
